<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <img src="/ServerImages/BlogsFrontCover.jpg" alt="" style="height:600px; width:100%">

<div class="container my-2">
    <div class="row">
        <% for(let i=0;i<novels.length;i++){%>

            <div class="col my-2 col-lg-4">
                <div class="card">
                    <div class="card-body d-flex justify-content-between align-items-center ">
                        <b>Created By: <%= novels[i].user.name %> </b>
                       <div class="d-flex">
                        <a style="color:black" href="/user/edit/<%= novels[i]._id %>" class="nav-link"><i class="bi bi-pen-fill"></i></a>
                        <a style="color:black" href="" class="nav-link"><i class="bi bi-trash"></i></a>
                    </div>
                    </div>
                    <img class="card-img-top" src="<%= novels[i].cover%>" alt="" style="height:350px">
                   <div class="card-body">
                    <b>Description:</b>
                    <%= novels[i].description.substring(0,110) %>
                   </div>
                </div>
            </div>
            
    
    <%}%>

    </div>
  

</div>   
</body>
</html>