<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="background-image:url('/ServerImages/login-background.jpg'); height:400px" >
      
     <div >
        <h3  style="color:lightgrey" class="text-center">Sign In</h3>
        <form action="/user/serverLogin" method="POST"  >
          <div class="form-group ">
            <input  type="text" class="form-control my-4" placeholder="Enter Email" name="email">
            <input type="password" class="form-control my-4" placeholder="Enter Password" name="password">
            <div class="d-flex align-items-center "> <input type="submit" class="btn btn-info my-2" > <a style="color:lightgrey;text-decoration: underline;" class="nav-link" href="/user/Register">Don't have an account? Sign Up</a> </div>
          </div>  
          

        </form>
     </div>




    </div>
   
</body>
</html>